
extends ../layouts/default.jade
include ../mixins/attachments.jade

block breadcrumbs
    ul
        li
            span.fa.fa-cloud-upload
            |  Built Design Submission


block content
    div.submission-container(align='center')
        div.submission-header
            span(style='font-size: 3.3em').fa.fa-cloud-upload
            p(style='font-size: 1.7em; font-weight: bolder')
                | Tell us about your built design!

            div.tab-content
            form(method='post',enctype='multipart/form-data')
                        if errors.length > 0

                            each error in errors
                                div.alert.alert-danger
                                    p #{error}
                                br

                        input(type="hidden", name="submitType", value="new")
                        div.row
                            div.col-md-12
                                div.form-group-100.required
                                    label(for="design_name") Design Name
                                    input.form-control(name='design_name',id="design_name",placeholder='The name of the built design.', value=submission.design_name)

                        div.row
                            div.col-md-12
                                div.form-group-100.required
                                    label(for="agent") Researcher
                                    select.form-control(name='agent', id="agent")
                                            option(value='', selected='selected') The name of the researcher who built the design.
                                            - for(var i=0;i< agent_names.length;i++) {
                                              option(value = [agent_uris[i],agent_names[i]]) #{agent_names[i]}
                                            - }
                        div.row
                            div.col-md-12
                                div.form-group-100.required
                                    label(for="description") Purpose
                                    input.form-control(name='description',id="description"
                                            placeholder='Brief description about the purpose of this live design.',value=submission.description)
                        div.row
                            div.col-md-12
                                div.form-group-100.required
                                    label(for="location") Physical Location
                                    input.form-control(name='location', id="location"
                                            placeholder='Physical location of the live design e.g. Fridge A, Tray 2', value=submission.location)

                        div.row
                            div.col-md-12
                                    .panel-body
                                    label(for="agent")
                                    div.col-sm-2
                                      input(type="radio", data-toggle='collapse', data-target='.collapseForm', id="ast1", name="plan_submission_type", value="0", checked=true)
                                      | Create
                                    div.col-sm-10
                                      input(type="radio", data-toggle='collapse', data-target='.collapseForm', id="ast2", name="plan_submission_type", value="1") 
                                      | Don't create                 

                        div.row
                            div.col-md-12
                                div.form-group-100.required
                                a.accordion-toggle()
                                    .collapseForm.panel-collapse.collapse.in
                                        .panel-body
                                        label(for="agent") LabProtocolDropdown
                                        select.form-control(name='plan1', id="plan1")
                                                option(value='', selected='selected') The name of the researcher who built the design.
                                                for plan in plans
                                                  option(value = plan) #{plan}


                        div.row
                            a.accordion-toggle()
                                .collapseForm.panel-collapse.collapse
                                    .panel-body
                                    div.row
                                    div.col-md-12
                                        div.form-group-100.required
                                            label(for="plan") Lab Protocol Used
                                            input.form-control(name='plan2',id="plan2",placeholder='The name of the lab protocol used to build the design.', value=submission.plan2)


                                    .panel.panel-default
                                        .panel-heading
                                            h4.panel-title
                                                a.accordion-toggle(data-toggle='collapse', href='#collapseSix')
                                                    | <b>Please upload a file describing the lab protocol</b>
                                        #collapseSix.panel-collapse.collapse.in
                                            .panel-body
                                                div.row
                                                    div.col-md-12

                                                        if canEdit
                                                            div.row
                                                                    div.col-xs-6
                                                                        div.input-group
                                                                            label.input-group-btn
                                                                                span.btn.btn-primary
                                                                                    | Select file(s)&hellip;
                                                                                    input(type="file",name="file",style="display: none;",multiple)
                                                                            input(type="text",class="form-control",readonly)
                                                                    div.col-xs-3

                        div.row
                            div.col-md-12
                                button(type='submit').btn.btn-primary.btn-lg Submit
