
extends ../layouts/default.jade

block breadcrumbs
    ul
        li
            span.fa.fa-cloud-upload
            |  Live Design Submission


block content
    div.submission-container(align='center')
        div.submission-header
            span(style='font-size: 3.3em').fa.fa-cloud-upload
            p(style='font-size: 1.7em; font-weight: bolder')
                | Tell us about your built design!

            div.tab-content
            form(method='post',enctype='multipart/form-data')
                        if errors.length > 0
                            each error in errors
                                div.alert.alert-danger
                                    p #{error}
                                br
                        
                        input(type="hidden", name="submitType", value="new")
                        div.row
                            div.col-md-12
                                div.form-group-100.required
                                    label(for="design_name") Design Name
                                    input.form-control(name='design_name',id="design_name",placeholder='The name of the built design.', value=submission.design_name)
                        div.row
                            div.col-md-12
                                div.form-group-100.required
                                    label(for="plan") Lab Protocol Used
                                    input.form-control(name='plan',id="plan",placeholder='The name of the lab protocol used to build the design.', value=submission.plan)
                        div.row
                            div.col-md-12
                                div.form-group-100.required
                                    label(for="agent") Researcher
                                    input.form-control(name='agent', id="agent"
                                            placeholder='The name of the researcher who built the design.', value=submission.agent)

                        div.row
                            div.col-md-12
                                div.form-group-100.required
                                    label(for="description") Purpose
                                    input.form-control(name='description',id="description"
                                            placeholder='Brief description about the purpose of this live design.',value=submission.description)
                        div.row
                            div.col-md-12
                                div.form-group-100.required
                                    label(for="location") Physical Location
                                    input.form-control(name='location', id="location"
                                            placeholder='Physical location of the live design e.g. Fridge A, Tray 2', value=submission.location)

                        div.row
                            div.col-md-12
                                div.form-group-100
                                    label(for="citations") Citations (optional)
                                    input.form-control(name='citations', id="citations"
                                                       placeholder='Comma separated Pubmed IDs, we\'ll do the rest!')

                        div.row
                            div.col-md-12
                                button(type='submit').btn.btn-primary.btn-lg Submit
