
extends ../layouts/default.jade

include ../mixins/blast-button.jade
include ../mixins/mutable-fields.jade
include ../mixins/attachments.jade
include ../mixins/citations.jade

block jsState
    script meta = 
        != JSON.stringify(meta)

    script.
        function popup() {
            popupS.modal({
                content: '<div class="form-group"><label for="share">Copy the following link to share</label><input id="share" type="text" class="form-control" style="width:30em;" readonly value="#{share}"/></div>',
            });
        }

block topTitle
    | #{meta.name?meta.name:meta.id} 
    if meta.name
        if meta.id && meta.id != meta.name && meta.id.indexOf('_collection') === -1
            span (#{meta.id})
        if (meta.id.indexOf('_collection') !== -1)
            span Library
    if meta.sbhBookmark && meta.sbhBookmark.description == 'true'
        a(href='http://wiki.synbiohub.org/Terms/synbiohub#bookmark',title='Bookmarked Parts')
            span.fa.fa-bookmark
    if meta.sbhStar && meta.sbhStar.description == 'true'
        a(href='http://wiki.synbiohub.org/Terms/synbiohub#star',title='Starred Parts')
            span.fa.fa-star

block content

    div.clearfix

    div.sbh-toplevel-title
        h1 
            | #{meta.name?meta.name:meta.id}
            if meta.sbhBookmark && meta.sbhBookmark.description == 'true'
                a(href='http://wiki.synbiohub.org/Terms/synbiohub#bookmark',title='Bookmarked Parts')
                    span.fa.fa-bookmark
            if meta.sbhStar && meta.sbhStar.description == 'true'
                a(href='http://wiki.synbiohub.org/Terms/synbiohub#star',title='Starred Parts')
                    span.fa.fa-star
            if (collectionIcon)
                img.sbh-collection-icon(src=collectionIcon)

    div.submission-detail.container-fluid

        if meta.description && meta.description != ''
            div.row
                div.col-sm-12.text-center.sbh-desc-container
                    block beforeTopTitle
                    div.sbh-top-description-container
                        div.sbh-top-description
                            != meta.description
                            | 
                            a(href='/search/?q='+meta.description,title='Find all records with terms in common with this description')
                                span.fa.fa-search

        div.row
            div.col-md-12.text-center.sbh-toplevel-preview
                block topLevelPreview
                div.sbh-toplevel-preview-buttons.btn-group-vertical
                    if (rdfType.name != 'Collection' || memberCount <= 10000)
                            li.dropdown.btn.btn-primary
                                span.fa.fa-download
                                    |  
                                    span.caret
                                ul.dropdown-menu.dropdown-toggle
                                    li
                                        a(href=meta.url + '/' + meta.id + '.xml') Download SBOL File
                                    if rdfType.name == 'Component'
                                        li 
                                            a(href=meta.url + '/' + meta.id + '.gb') Download GenBank
                                    if rdfType.name == 'Component' || rdfType.name == 'Sequence'
                                        li 
                                            a(href=meta.url + '/' + meta.id + '.fasta') Download FASTA
                                    if rdfType.name == 'Component'
                                        li 
                                            a.sbh-download-picture Download Image
                                    if rdfType.name == 'Attachment'
                                        li 
                                            a(href=meta.url + '/download') Download Attachment
                    if !meta.remote && rdfType.name != 'Collection' && rdfType.name != 'Component'
                        li.dropdown.btn.btn-primary
                                a(href=meta.url + '/uses',title='Find all uses of this '+rdfType.name,style="color:white")
                                    span.fa.fa-search
                                    |  
                    block topLevelButtons
                    if meta.triplestore != 'public'
                        li.btn.btn-success
                                a(onclick="popup()",title='Share',style="color:white")
                                    span.fa.fa-share
                    if meta.triplestore != 'public' && locals.user && locals.user.isCurator
                        li.btn.btn-success
                                a(href=meta.url + '/makePublic',title='Make Public',style="color:white")
                                    span.fa.fa-unlock
                    if canEdit && meta.triplestore != 'public' 
                        if rdfType.name == 'Collection'
                            li.btn.btn-success
                                    a(href=meta.url + '/removeCollection',title='Remove Collection',style="color:white")
                                        span.fa.fa-remove
                        else 
                            li.btn.btn-success
                                    a(href=meta.url + '/remove',title='Remove',style="color:white")
                                        span.fa.fa-remove
                    if canEdit
                        li.btn.btn-info
                                a(href=meta.url + "/addOwner",title='Add Owner',style="color:white")
                                    span.fa.fa-id-card

        div.row.entry-heading
            div.col-sm-12.sbh-id-etc.text-center
                if locals.remote 
                    h4 #{'Mirrored from '}
                        a(href=locals.remote.url,title='Edit in ' + locals.remote.name) #{locals.remote.name}

                if meta.id && meta.id != ''
                    h4 #{meta.id}
                        a(href='/search/displayId=\''+meta.id+'\'&',title='Find all records with the same identifier') 
                            span.fa.fa-search 
                        if meta.version && meta.version != ''
                            != 'Version '+meta.version
                            a(href='/search/persistentIdentity=<'+encodeURIComponent(meta.pid)+'>&',title='Find all versions') 
                                span.fa.fa-search 
                        if rdfType
                            != ' (' + rdfType.name + ') '
                            a(href=rdfType.url,title='Learn more about this RDF type')
                                span.fa.fa-info-circle
                else 
                        if rdfType
                            h4 #{rdfType.name} 
                                a(href=rdfType.url,title='Learn more about this RDF type')
                                    span.fa.fa-info-circle

                if meta.igemDiscontinued && meta.igemDiscontinued.description == 'true'
                    h4(style=" color: #FF0000") This part has been discontinued.
                if meta.isReplacedBy && meta.isReplacedBy.uri != ''
                    h4(style=" color: #FF0000") Please consider using 
                        a(href=meta.isReplacedBy.uri) #{meta.isReplacedBy.id}
                        | as a replacement.

        div.row
            div.col-md-11

                if meta.wasDerivedFrom && meta.wasDerivedFrom != ''
                    h5 Source: 
                        a(href=meta.wasDerivedFrom.toString().startsWith(config.databasePrefix)?'/'+meta.wasDerivedFrom.toString().replace(config.databasePrefix,''):meta.wasDerivedFrom.toString()) #{meta.wasDerivedFrom}

                if meta.wasGeneratedBy.uri && meta.wasGeneratedBy.uri != ''
                    h5 Generated By: 
                        a(href=meta.wasGeneratedBy.url) #{meta.wasGeneratedBy.uri}

                if meta.creator.description && meta.creator.description != ''
                    h5 Created by: 
                        != meta.creator.description
                        a(href='/search/dc:creator=\''+meta.creator.description+'\'&',title='Find all records created by this person') 
                            span.fa.fa-search
       
                if meta.created.description && meta.created.description != ''
                    h5 Date created: 
                        != meta.created.description
                        a(href='/search/createdBefore='+meta.created.description.split(' ')[0]+'&createdAfter='+meta.created.description.split(' ')[0]+'&',title='Find all records created on this date') 
                            span.fa.fa-search

                if meta.modified.description && meta.modified.description != ''
                    h5 Date modified: 
                        != meta.modified.description 
                        a(href='/search/modifiedBefore='+meta.modified.description.split(' ')[0]+'&modifiedAfter='+meta.modified.description.split(' ')[0]+'&',title='Find all records modified on this date') 
                            span.fa.fa-search

                block topLevelBelowTitle


        .container
            #accordion.panel-group
                block topLevelPanels
  